{{#partial 'title'}}
    {{#each path reversed=true}}
        {{#unless @first}}|{{/unless}} {{title}}
    {{/each}}
{{/partial}}

{{#partial 'content'}}

    <div class="row">
        <div class="top-margin hidden-xs"></div>
        <nav class="navbar navbar-left col-lg-3 col-lg-offset-1 col-md-3 col-sm-1 col-xs-12">
            {{#block 'menu'}}{{/block}}
        </nav>
        <div class="col-lg-6 col-md-9 col-sm-11 col-xs-12">
            <ol class="breadcrumb">
                {{#each path}}
                    {{#if @last}}
                        <li class="active">{{title}}</li>
                    {{^}}
                        <li><a href="{{url}}">{{title}}</a></li>
                    {{/if}}
                {{/each}}
            </ol>
            {{#block 'body'}}{{/block}}
        </div>
    </div>

{{/partial}}

{{> ws.cpcs.adsiuba.jpaui.ui.admin.UIController.common}}