{{#partial 'menu'}}
    {{> ws.cpcs.adsiuba.jpaui.ui.admin.UIController.menu single=true}}
{{/partial}}

{{#partial 'body'}}
    <h1>Admin panel</h1>
{{/partial}}

{{> ws.cpcs.adsiuba.jpaui.ui.admin.UIController.two-sided }}